@import './reset.scss';

.wow-enter {
opacity: 0;
}
.wow-enter-active {
opacity: 1;
transition: all 500ms;
}

$mainColor : #ff0000;

.red {
 color : $mainColor;   
}
// div.container h4 {
//     color : blue;
// }
// div.container p {
//     color : green;
// }

//nesting 문법 
div.container {
    h4 {
        color :blue;
    }
    p {
        color : green;
    }
}

@mixin fnTest() {
    background: #eeeeee;
    padding:  15px;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
    margin: auto;
}

.my-alert {
    @include fnTest();
}

.my-alert-yellow {
    @extend .my-alert;
    background: #ffe591;
}

.my-alert p{
    margin-bottom: 0;
}

